h1 {
    background-color: #9794d8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2 {
    border-style: solid;
    border-width: 3px;
    border-color: #ff00ff;
    background-color: #b5ffff;
    margin: 50px;
    padding: 10px;
    width: 500px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h3 {
    color: #ff0000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    background-color: #88c0c0;
    border-color: rgb(153, 0, 255);
    border-width: 3px;
    border-style: dashed;
    width: 860px;
}

h4 {
    font-size: 28px;
}

#p2 {
    color: rgb(78, 143, 49)
}

.leftpic {
    float: left;
    margin: 10px
}

.paras {
    font-weight: bolder;
}

.about {
    border-style:ridge;
    border-width: 8px;
    margin: 50px;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

.review {
    color: #696969;
    font-size: 13px;

    b {
        color: #000000
    }
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(270deg, rgb(98, 40, 7), rgb(74, 65, 42), rgb(84, 62, 62), rgb(133, 142, 10), rgb(61, 18, 37), rgb(102, 102, 62), rgb(58, 84, 69));
    background-size: 1400% 1400%;
    animation: rainbow 15s linear infinite;
  }

.glowpng {
    width: 80px;               /* adjust as needed */
    animation: pulseGlow 2.5s ease-in-out infinite;
}

@keyframes pulseGlow {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }
    50% {
        transform: scale(1.04);
        box-shadow:
            0 0 25px rgba(255, 255, 255, 0.7),
            0 0 50px rgba(255, 255, 255, 0.4);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }
}


@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }